 a
 {
 	text-decoration: none;
 	font-size: 12px;
 }
body
 {
    /*background-image: url(imgs/background.jpg);*/
    background-repeat:no-repeat;
 	font-size: 20px;
 	min-height:800px;
 	padding:5px 0;
    text-align:center;
 }
 th
 {
 	border-width:0px 0 0 0px;
 	border-style:solid;
 	padding:0;
 	color: #003D79;
 }
 table
 {
    text-align:center;
	border-color:#a0a0a0;
	border-width:1px;
	border-style:solid;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-collapse:collapse;
    
 }
 td
 {
 	border-width:1px 1px 1px 1px;
 	border-style:solid;
 	border-color:#a0a0a0;
 	border-collapse:collapse;
 	padding:0;
 }
 tr
 {
 	background: #ECF5FF;
 }
 .row2
 {
 	background:#FFFFFF;
 }
 #focus
 {
 	border: 1px solid #4a3115;
 	background: #f5d361 url(.png) 50% 50% repeat-x;
 	font-weight: bold;
 	color: #402a12;
 	text-decoration: none;
 }
 #function
 {
	border: 1px solid #019858;
	background-image: url();
	background-color: #B4EEB4;
	color: #333333;
 }
 .function
 {
	border: 1px solid #019858;
	background-image: url();
	background-color: #B4EEB4;
	color: #333333;
	padding:2px 5px;
 }
 .parent
 {
    clear:both;
    padding: 0px 8px;
    margin: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #db4865 !important;
    background: #ff6b7f !important;
    color: #ffffff !important;
}
.local
{
    clear:both;
    padding: 0px 8px;
    margin: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #f9dd34 !important;
    background: #ffef8f !important;
    color: #333333 !important;
}
.open
{
    clear:both;
    padding: 0px 8px;
    margin: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #019858 !important;
    background: #B4EEB4 !important;
    color: #333333 !important;
}
#bottom
{
    text-align:center; 
}
#th0
{
    text-align:center; 
}
#font
{
    text-align:center;
}
.movie-table
{
    text-align:center;
}
#my_table{
    margin-top:90px;
    background:"/Web Design/imgs/bodyimgs.jpg";
    border-collapse:collapse;
}
#my_table1{
    width:100%;
}
